.team-header {
    background-color: #741e26;
    color: #ffffff;
  }
  
  .team-area {
    max-width: 1000px;
    margin: 3em auto;
    flex-wrap: wrap;
  }
  
  .employee-card {
    margin: 1em;
    max-width: 280px;
    width: 85%;
    min-height: 25rem;
    background-color: #007bff;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 4px 8px #2f3133(0, 0, 0, 0.7);
    border: none;
  }
  .list-group {
    color: #000000;
    text-decoration: none;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f7f8;
  }
  
 